@model SweetMarket.Models.Treat

<h4>Add a new Treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName)
  <br>
  @Html.TextBoxFor(model => model.TreatName)
  <br>
  @Html.LabelFor(model => model.Description)
  <br>
  @Html.TextAreaFor(model => model.Description, new { @class = "textArea" })
  <br>
  @Html.Label("Select flavor")
  <br>
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add new treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>